.vis-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.val-1 {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  
  font-weight: 100;
}

.val-2 {
  height: 20px;
  font-family: "Open Sans", "Noto Sans JP", "Noto Sans CJK KR",
    "Noto Sans Arabic UI", "Noto Sans Devanagari UI", "Noto Sans Hebrew",
    "Noto Sans Thai UI", Helvetica, Arial, sans-serif, "Noto Sans";
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 15px;
  font-weight: 400;
}
.underlay-BG {
  background-color: #F5F5F6;
}
.opactic-text {
  color: rgba(0, 0, 0, 0);
}
.opactic-BG {
  background-color: rgba(0, 0, 0, 0);
}
.none{
    display: none;
}
.overlay {
  height: 50px;
  background-color: #E2E3E4;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  /* padding: 15px; */
}

.label {
  opacity: 0.75;
  font-weight: 100;
}

.title {
  margin-top: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px;
  font-weight: 100;
}
#of-text{
    opacity: 0.75;
    font-weight: 100;
}